.java-container {
  padding: 30px;
  text-align: center;
  background: #fffaf1;
  min-height: 100vh;
}

.java-container h3 {
  font-size: 32px;
  color: #c1121f;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.java-table {
  width: 85%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 18px;
}

.java-table th {
  background-color: #ffc300;
  color: #000;
  padding: 12px;
  border: 2px solid #c1121f;
  font-weight: bold;
}

.java-table td {
  padding: 10px;
  border: 2px solid #c1121f;
}

.java-table tr:nth-child(even) {
  background-color: #ffe8cc;
}

.btn-box {
  margin-top: 30px;
}

.btn-box button {
  background-color: #c1121f;
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn-box button:hover {
  background-color: #780000;
  transform: scale(1.05);
}
